<div class="container" fxLayout.xs="column">
  <div *ngIf="userBag.length > 0">
    <div fxShow fxHide.xs [ngStyle.xs]="{'flex-direction': 'column', 'align-items': 'center'}" class="shopping-bag-container" >
      <div class="bag-container">
        <p class="shopping-bag-title">SHOPPING BAG</p>
        <table [fxFlex.xs]="95" mat-table [dataSource]="userService.userBag" class="mat-elevation-z8">
        <ng-container matColumnDef="ITEM">
          <th mat-header-cell *matHeaderCellDef> ITEM </th>
          <td mat-cell *matCellDef="let product" fxLayout="row">
            <img src="{{product.product.img}}">
            <div fxLayout="column" class="item-details">
              <p class="description-item-first">{{product.subBrand}}</p>
              <p class="description-item">{{product.product.name}}</p>
              <p class="description-item">{{product.product.color}}</p>
              <p class="description-item-last">US {{product.selectedSize}}</p>
            </div>
          </td>
        </ng-container>
      
        <ng-container matColumnDef="PRICE">
          <th mat-header-cell *matHeaderCellDef> PRICE </th>
          <td mat-cell *matCellDef="let product"> {{product.product.price.usd.string}} </td>
        </ng-container>
  
         <ng-container matColumnDef="QUANTITY">
            <th mat-header-cell *matHeaderCellDef> QUANTITY </th>
            <td mat-cell *matCellDef="let product"> 
              <button
                (click)="userService.editQuantityInBag(product.product.id, product.selectedSize, 'incriment')"
                class="quantity incriment"
                mat-button
              >+</button>
              {{product.quantity}} 
              <button
                (click)="userService.editQuantityInBag(product.product.id, product.selectedSize ,'decriment')"
                class="quantity decriment"
                mat-button
              >-</button>
            </td>
          </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
      <div class="space-container">
        <mat-card class="order-summary-card mat-elevation-z8">
          <p>ORDER SUMMARY</p>
          <hr>
          <div fxLayout="column" class="order-summary-container">
            <div *ngFor="let product of userBag" fxLayout="column" class="item-details xs">
              <div fxLayout="row">
                <div fxLayout="column" class="summary-column">
                  <p class="description-item-first-xs nm"><b>{{product.subBrand}}</b></p>
                  <p class="description-item nm">{{product.product.name}}</p>
                  <p class="description-item nm">{{product.product.color}}</p>
                  <p class="description-item nm">US {{product.selectedSize}}</p>
                  <p class="description-item nm">QUANTITY: {{product.quantity}}</p>
                </div>
                <div fxLayout="column" class="summary-column item-price-col" >
                  <p class="description-item-last">${{product.product.price.usd.number * product.quantity}}</p>
                </div>
              </div>
              <div>
                <hr>
              </div>
            </div>
          </div>
          <div class="order-details">
            <p class="details-item">Total: ${{vmOrderTotal.bagSubtotal}}</p>
            <p class="details-item">Shipping Estimate: ${{vmOrderTotal.shippingEstimate}}</p>
            <p class="details-item">Order Total: ${{vmOrderTotal.orderTotal}}</p>
          </div>
        </mat-card>
        <div fxLayout="row" style="margin-top: 40px">
          <div class="paypal-btn-spacer"></div>
          <div id="paypal-btn" > </div>
          <div class="paypal-btn-spacer"></div>
        </div>
      </div>
    </div>
    <div fxLayout="column" fxHide fxShow.xs class="shopping-bag-container">
      <div *ngFor="let product of userBag" class="item-container">
        <img src="{{product.product.img}}">
        <div fxLayout="column" class="item-details xs">
          <p class="description-item-first-xs xs"><b>{{product.subBrand}}</b></p>
          <p class="description-item xs">{{product.product.name}}</p>
          <p class="description-item xs">{{product.product.color}}</p>
          <p class="description-item-last xs">US {{product.selectedSize}}</p>
          <p class="description-item xs">{{product.product.price.usd.string}}</p>
          <p class="product-quantity-label xs">Quantity</p>
          <div class="product-quantity">
            <button
              (click)="userService.editQuantityInBag(product.product.id, product.selectedSize, 'incriment')"
              class="quantity incriment"
              mat-button
            >+</button>
            {{product.quantity}} 
            <button
              (click)="userService.editQuantityInBag(product.product.id, product.selectedSize ,'decriment')"
              class="quantity decriment"
              mat-button
            >-</button>
          </div>
        </div>
      </div>
      <mat-card class="order-summary-card">
        <p>ORDER SUMMARY</p>
        <hr>
        <div fxLayout="column" class="order-summary-container">
          <div *ngFor="let product of userBag" fxLayout="column" class="item-details xs">
            <div fxLayout="row">
              <div fxLayout="column" class="summary-column">
                <p class="description-item-first-xs nm"><b>{{product.subBrand}}</b></p>
                <p class="description-item nm">{{product.product.name}}</p>
                <p class="description-item nm">{{product.product.color}}</p>
                <p class="description-item nm">US {{product.selectedSize}}</p>
                <p class="description-item nm">QUANTITY: {{product.quantity}}</p>
              </div>
              <div fxLayout="column" class="summary-column item-price-col" >
                <p class="description-item-last">${{product.product.price.usd.number * product.quantity}}</p>
              </div>
            </div>
            <div>
              <hr>
            </div>
          </div>
        </div>
        <div class="order-details">
          <p>Total: ${{vmOrderTotal.bagSubtotal}}</p>
          <p>Shipping Estimate: ${{vmOrderTotal.shippingEstimate}}</p>
          <p>Order Total: ${{vmOrderTotal.orderTotal}}</p>
        </div>
      </mat-card>
    </div>
  </div>
  <div *ngIf="userBag.length < 1" class="empty-bag">
    <p>Your shopping bag is empty.</p>
    <button [ngStyle.xs]="{'width': '40%'}" mat-button (click)="navigationService.navigateToShop()"> SHOP </button>
  </div>
</div>