table {
    width: 60%;
    min-height: 75%;
}
p.shopping-bag-title{
    margin-top: 30px;
    font-family: 'Oswald';
    font-size: 22px;
}
.shopping-bag-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.mat-column-PRICE{
    text-align: left;
}

.mat-column-QUANTITY {
    width: 120px !important;
    flex: 0 0 50px !important;
    white-space: unset !important;
    flex-direction: row;
    text-align: center;
}

.product-quantity{
    font-family: "Roboto","Helvetica Neue","sans-serif";
    text-align: center;
}

.product-quantity-label{
    margin-bottom: 5px;
    font-size: 14px !important;
}

.incriment{
    margin-right: 10px
}

.decriment{
    margin-left: 10px
}

.empty-bag{
    align-items: center;
    text-align: center;
    font-family: 'Oswald';
    margin-top: 50px;
    button{
        font-family: 'Oswald';
        width: 10%;
    }
}

.space-container{
    margin-top: 0px;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    button{
        font-family: "Roboto","Helvetica Neue","sans-serif";
        font-size: 16px;
        color: rgba(0,0,0,.7) !important;
        width: 100%;
        text-align: center !important;
    }
}

.item-container{
    margin-bottom: 20px;
}

.checkout-card{
    text-align: right;
    position: fixed;
    top: 20%;
}

.checkout-card-xs{
    bottom: 20px;
    // position: fixed;
    width: 80%;
    margin-top: 20px;
}

.checkout-button{
    text-align: center;
    width: 100%
}

mat-card{
    p{
        font-family: "Roboto","Helvetica Neue","sans-serif";
        font-size: 14px;
        color: rgba(0,0,0,.6) !important;
    }
    // position: fixed;
}

.item-details{
    .xs{
        text-align: center
    }
    text-align: left;
    p.xs{
        margin-left: 0px;
    }
    p{
        font-family: "Roboto","Helvetica Neue","sans-serif";
        font-size: 12px;
        margin-left: 30px; 
    }
    p.description-item-first{
        margin-top: 20px;        
        margin-bottom: 0px !important;
    }
    p.description-item-first-xs{
        margin-top: 5px;        
        margin-bottom: 0px !important;
    }
    p.description-item-last{
        margin-top: 5px !important;
    }
    p.description-item{
        margin-top: 5px !important;
        margin-bottom: 0px !important;

    }
}

button.quantity{
    min-width: 40px;
    padding-left: 5px;
    padding-right: 5px;
}

img{
    height: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
}
