<div class="container">
  <div class="shopping-bag-container">
      <div class="space-container"></div>
      <table [fxFlex.xs]="95" mat-table [dataSource]="userService.userBag.getValue()" class="mat-elevation-z4">

      <ng-container matColumnDef="ITEM">
        <th mat-header-cell *matHeaderCellDef> ITEM </th>
        <td mat-cell *matCellDef="let product"> {{product.product.name}} </td>
      </ng-container>
    
      <ng-container matColumnDef="PRICE">
        <th mat-header-cell *matHeaderCellDef> PRICE </th>
        <td mat-cell *matCellDef="let product"> {{product.product.price.usd.string}} </td>
      </ng-container>

       <ng-container matColumnDef="QUANTITY">
          <th mat-header-cell *matHeaderCellDef> QUANTITY </th>
          <td mat-cell *matCellDef="let product"> 
            <button mat-button>
              +
            </button>
            {{product.quantity}} 
          </td>
          <button mat-button>
              -
            </button>
        </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <div class="space-container">
        <span>Total: {{vmOrderTotal.bagSubtotal}}</span>
        <span>Shipping Estimate: {{vmOrderTotal.shippingEstimate}}</span>
        <span>Order Total: ${{vmOrderTotal.orderTotal}}</span>
        <button mat-button>Checkout</button>
      </div>
    </div>
</div>