.svgicon {
    // padding: 0 14px;
    width: 50px;
    margin-top: 5px;
    cursor: pointer;
    color: white;
  }
  span{color: white;}
  p{
    color: white;
  }
  p.cart-number{
    position: relative;
    top: 0px;
    right: 8px;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }

  .title-font{
    font: 500 40px "Racing Sans One";
    cursor: pointer;
    color: white;
  }
  mat-toolbar{
      background: black;
      color: black;
      font: 500 16px/32px "Helvetica", sans-serif;
      width: 100%;
      position: sticky;
  }
  a { 
      color: inherit;
      text-decoration: none;
    }
  a:hover 
{
     color:inherit; 
     text-decoration: none; 
     cursor: pointer;  
}

.header, .header-row{
  min-height: 45px;
  height: 45px;
}