<div class="container" fxLayout.xs="column">
  <div *ngIf="vmUserBag.length > 0">
    <p class="checkout-title">CHECKOUT</p>
    <div fxShow fxHide.xs [ngStyle.xs]="{'flex-direction': 'column', 'align-items': 'center'}" class="shopping-bag-container" >
        <div class="space-container"></div>
        <div class="checkout-form-container">
          <form [formGroup]="orderForm" >
              <div class="shipping-details row-container">
                  <p class="shipping-details-title"> Shipping Details</p>
              </div>
              <div class="shipping-details row-container">
                <div class="shipping-address-column">
                  <mat-form-field >
                    <input formControlName="firstName" matInput placeholder="First Name" required>
                  </mat-form-field>
                </div>
                <div class="shipping-address-column">
                  <mat-form-field>
                    <input formControlName="lastName" matInput placeholder="Last Name" required>
                  </mat-form-field>
                </div>
              </div>
              <div class="shipping-details row-container">
                <div class="shipping-address-column">
                  <mat-form-field >
                    <input formControlName="streetAddress" matInput placeholder="Street Address" required>
                  </mat-form-field>
                </div>
                <div class="shipping-address-column">
                  <mat-form-field >
                    <input formControlName="phone" matInput placeholder="Phone" required>
                  </mat-form-field>
                </div>
              </div>
              <div class="shipping-details row-container">
                <div class="shipping-address-column">
                  <mat-form-field >
                    <input formControlName="city" matInput placeholder="City" required>
                  </mat-form-field>
                </div>
                <div class="shipping-address-column">
                  <mat-form-field>
                    <input formControlName="postal_code" matInput placeholder="Zip or postal code" required>
                    </mat-form-field>
                </div>
              </div>
              <div class="shipping-details row-container">
                <div class="shipping-address-column">
                  <mat-form-field>
                    <mat-select formControlName="country" required placeholder="Country" name="country">
                      <mat-option *ngFor="let country of checkoutService.countriesList" [value]="country">{{country.name}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="shipping-address-column">
                    <mat-form-field>
                      <mat-select formControlName="state" required placeholder="State or province" name="state">
                        <mat-option *ngFor="let state of vmSelectedCountry.states" [value]="state">{{state.name}}</mat-option>
                      </mat-select>
                    </mat-form-field>
                </div>
              </div>
              <div *ngIf="!vmUser.email" class="shipping-details row-container">
                <div class="email-column">
                  <mat-form-field>
                    <input formControlName="email" matInput placeholder="Email" required>
                    </mat-form-field>
                </div>
              </div>
            </form>
          <form #checkout="ngForm" (ngSubmit)="onSubmit(checkout)" class="checkout">
            <div class="form-row">
              <label for="card-info">Card Info</label>
              <div id="card-info" #cardInfo></div>
          
              <div id="card-errors" role="alert" *ngIf="error">{{ error }}</div>
            </div>
          
            <button type="submit">Pay ${{vmOrderTotal.orderTotal}}</button>
          </form>
        </div>
        
        <div class="space-container">
          <mat-card class="order-summary-card">
            <p>ORDER SUMMARY</p>
            <hr>
            <div fxLayout="column" class="order-summary-container">
              <div *ngFor="let product of vmUserBag" fxLayout="column" class="item-details xs">
                <div fxLayout="row">
                  <div fxLayout="column" class="summary-column">
                    <p class="description-item-first-xs nm"><b>{{product.subBrand}}</b></p>
                    <p class="description-item nm">{{product.version.name}}</p>
                    <p class="description-item nm">{{product.version.color}}</p>
                    <p class="description-item nm">US {{product.selectedSize}}</p>
                    <p class="description-item nm">QUANTITY: {{product.quantity}}</p>
                  </div>
                  <div fxLayout="column" class="summary-column item-price-col" >
                    <p class="description-item-last">${{product.version.price.usd.number * product.quantity}}</p>
                  </div>
                </div>
                <div>
                  <hr>
                </div>
              </div>
            </div>
            <div class="order-details">
              <p>Total: ${{vmOrderTotal.bagSubtotal}}</p>
              <p>Shipping Estimate: ${{vmOrderTotal.shippingEstimate}}</p>
              <p>Order Total: ${{vmOrderTotal.orderTotal}}</p>
            </div>
          </mat-card>
        </div>
    </div>
    <div fxLayout="row" style="margin-top: 40px">
      <!-- <div class="paypal-btn-spacer"></div> -->
      <!-- <div class="paypal-btn-spacer"></div> -->
    </div>

  </div>
  <div *ngIf="vmUserBag.length < 1" class="empty-bag">
    <p>Your shopping bag is empty.</p>
    <button [ngStyle.xs]="{'width': '40%'}" mat-button (click)="navigationService.navigateToShop()"> SHOP </button>
  </div>
</div>