.container{
    text-align: center;
    align-items: center;
}

.shipping-details{
    justify-content: center;
}

#paypal-btn{
    width: 25%;
}

.paypal-btn-spacer{
    width: 37.5%;
    height: 1px;
}

.shipping-details-title{
    color: rgba(0,0,0,.87);
    font-size: 24px;
    margin-top: 0px;
}

.space-container{
    width: 20%;
    margin: 0px;
}
.checkout-form-container{
    width: 60%;
}
.summary-column{
   width: 50%; 
}

.shopping-bag-container{
    flex-direction: row;
    display: flex;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

mat-form-field{
    width: 90%;
}

.item-details{
    .xs{
        text-align: center
    }
    text-align: left;
    p.xs{
        margin-left: 0px;
    }
    p.nm{
        margin-left: 0px;
    }
    p{
        font-size: 12px;
        margin-left: 30px; 
    }
    p.description-item-first{
        margin-top: 20px;        
        margin-bottom: 0px !important;
    }
    p.description-item-first-xs{
        margin-top: 5px;        
        margin-bottom: 0px !important;
    }
    p.description-item-last{
        margin-top: 0px !important;
    }
    p.description-item{
        margin-top: 5px !important;
        margin-bottom: 0px !important;
    }
}

.item-price-col{
    text-align: right;
}

.row-container{
    width: 100%;
    display: flex;
    flex-direction: row;
}
  
.shipping-address-column {
    width: 40%;
}

p.checkout-title{
    margin-top: 30px;
    font-family: 'Oswald';
    font-size: 22px;
}

.order-details{
    text-align: right;
    p{
        font-family: 'Oswald';
    }
}

.empty-bag{
    align-items: center;
    text-align: center;
    p{
        font-family: 'Oswald' !important;
    }
    margin-top: 50px;
    button{
        font-family: 'Oswald';
        width: 10%;
    }
}
p{
    font-family: "Roboto","Helvetica Neue","sans-serif";
}