<div class="container" fxLayout.xs="column">
  <div *ngIf="vmUserBag.length > 0">
    <p class="checkout-title">CHECKOUT</p>
    <div fxShow fxHide.xs [ngStyle.xs]="{'flex-direction': 'column', 'align-items': 'center'}" class="shopping-bag-container" >
        <div class="space-container"></div>
        <div class="checkout-form-container">
            <div class="shipping-details row-container">
                <p class="shipping-details-title"> Shipping Details</p>
            </div>
            <div class="shipping-details row-container">
              <div class="shipping-address-column">
                <mat-form-field >
                  <input [(ngModel)]="orderForm.firstName" matInput placeholder="First Name" required>
                </mat-form-field>
              </div>
              <div class="shipping-address-column">
                  <mat-form-field>
                    <input [(ngModel)]="orderForm.lastName" matInput placeholder="Last Name" required>
                  </mat-form-field>
              </div>
            </div>
            <div class="shipping-details row-container">
                <div class="shipping-address-column">
                  <mat-form-field >
                    <input [(ngModel)]="orderForm.streetAddress" matInput placeholder="Street Address" required>
                  </mat-form-field>
                </div>
                <div class="shipping-address-column">
                    <mat-form-field>
                      <input [(ngModel)]="orderForm.company" matInput placeholder="Company (optional)" required>
                    </mat-form-field>
                </div>
            </div>
            <div class="shipping-details row-container">
                <div class="shipping-address-column">
                  <mat-form-field >
                    <input [(ngModel)]="orderForm.city" matInput placeholder="City" required>
                  </mat-form-field>
                </div>
                <div class="shipping-address-column">
                    <mat-form-field>
                      <input [(ngModel)]="orderForm.zipCode" matInput placeholder="Zip or postal code" required>
                    </mat-form-field>
                </div>
            </div>
            <div class="shipping-details row-container">
                <div class="shipping-address-column">
                    <mat-form-field>
                      <mat-select [(ngModel)]="orderForm.country" required placeholder="Country" name="country">
                        <mat-option value="USA">USA</mat-option>
                      </mat-select>
                    </mat-form-field>
                </div>
                <div class="shipping-address-column">
                    <mat-form-field>
                      <mat-select [(ngModel)]="orderForm.state" required placeholder="State or province" name="state">
                        <mat-option  value="LA">LA</mat-option>
                      </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="shipping-details row-container">
                <div class="shipping-address-column">
                  <mat-form-field >
                    <input [(ngModel)]="orderForm.phoneNumber" matInput placeholder="Phone" required>
                  </mat-form-field>
                </div>
                <div class="shipping-address-column">
                </div>
            </div>
        </div>
        <div class="space-container">
          <mat-card class="order-summary-card">
            <p>ORDER SUMMARY</p>
            <hr>
            <div fxLayout="column" class="order-summary-container">
              <div *ngFor="let product of vmUserBag" fxLayout="column" class="item-details xs">
                <div fxLayout="row">
                  <div fxLayout="column" class="summary-column">
                    <p class="description-item-first-xs nm"><b>{{product.subBrand}}</b></p>
                    <p class="description-item nm">{{product.product.name}}</p>
                    <p class="description-item nm">{{product.product.color}}</p>
                    <p class="description-item nm">US {{product.selectedSize}}</p>
                    <p class="description-item nm">QUANTITY: {{product.quantity}}</p>
                  </div>
                  <div fxLayout="column" class="summary-column item-price-col" >
                    <p class="description-item-last">${{product.product.price.usd.number * product.quantity}}</p>
                  </div>
                </div>
                <div>
                  <hr>
                </div>
              </div>
            </div>
            <div class="order-details">
              <p>Total: ${{vmOrderTotal.bagSubtotal}}</p>
              <p>Shipping Estimate: ${{vmOrderTotal.shippingEstimate}}</p>
              <p>Order Total: ${{vmOrderTotal.orderTotal}}</p>
            </div>
          </mat-card>
        </div>
    </div>
    <button (click)="payClick()" mat-raised-button> PAY </button>
  </div>
  <div *ngIf="vmUserBag.length < 1" class="empty-bag">
    <p>Your shopping bag is empty.</p>
    <button [ngStyle.xs]="{'width': '40%'}" mat-raised-button (click)="navigationService.navigateToShop()"> SHOP </button>
  </div>
</div>