<div class="container" fxLayout="row">
  <div class="preferences-col">
  </div>
  <!-- <div > -->
    <form class="account-info" fxLayout="column" [formGroup]="accountForm">
      <p>Account Information</p>
      <mat-form-field>
        <input formControlName="firstName" matInput placeholder="First Name">
      </mat-form-field>
      <mat-form-field>
        <input formControlName="lastName" matInput placeholder="Last Name">
      </mat-form-field>
      <mat-form-field>
        <input formControlName="email" matInput placeholder="Email Address">
      </mat-form-field>
    
      <p>Account Password</p>
      <mat-form-field>
        <input type="password" formControlName="oldPassword" matInput placeholder="Old Password">
      </mat-form-field>
      <mat-form-field>
        <input type="password" formControlName="newPassword" matInput placeholder="New Password">
      </mat-form-field>
      <mat-form-field>
        <input type="password" formControlName="confirmPassword" matInput placeholder="Confirm Password">
      </mat-form-field>
      <p class="newsletters">Newsletters</p>
      <mat-radio-group
        aria-labelledby="radio-group-label"
        class="radio-group"
        formControlName="newsletters"
      >
        <mat-radio-button class="radio-button" [value]="true">
          Subscribed
        </mat-radio-button>
        <mat-radio-button class="radio-button" [value]="false">
            Unsubscribed
        </mat-radio-button>
      </mat-radio-group>
      <p class='preferences'>Preferences</p>
      <p class='subtitle'>Gender</p>
      <mat-radio-group
        aria-labelledby="radio-group-label"
        class="radio-group"
        formControlName="gender"
      >
        <mat-radio-button *ngFor="let gender of vmGenders" class="radio-button" [value]="gender">
          {{gender}}
        </mat-radio-button>
      </mat-radio-group>
    </form>
  <!-- </div> -->
  <div class="buttons-col">
    <div class="save-button-container">
        <button mat-button class="button" (click)="saveChanges()">SAVE CHANGES</button>
        <button mat-button class="button" (click)="logout()">LOGOUT</button>
      </div>
  </div>

</div>