.container{
    justify-content: center;
    align-items: center;
}
.preferences-col{
    margin-right: 60px;
    width: 15%;
}
.buttons-col{
    top: -300px;
    right: -75px;
    position: relative;
}

  .subtitle{
    font-family: 'Roboto';
    font-size: 16px;
    color: rgba(0, 0, 0, 0.8);   
  }
  .preferences{
    margin-bottom: 6px;
  }

  p{
      margin-top: 6px; 
      font-family: 'Oswald';
      text-align: center;
  }

  .radio-button{
      font-size: 16px;
      margin-left: 5%;
      margin-right: 5%;
  }

  mat-radio-group{
      text-align: center;
  }

  .account-info{
    justify-content: center;
    margin-top: 30px;
    margin-left: 0px;
    margin-right: 0px !important;
    width: 35%;
  }

  .button{
      margin-top: 25px;
      margin-left: 10px;
      margin-right: 10px;
  }

  .save-button-container{
    text-align: center;
}