.product-description{
    font-size: 11px;
    font-family: 'Cairo', 'sans-serif';
    margin-right: 0px !important; 
    padding-left: 10px;
    padding-right: 10px; 
    flex-direction: column;
    justify-content: center;
}

p.product-model{
    font-family: 'Oswald';
    font-size: 24px;
}

button.checkout{
    margin-top: 10px;
}

p.product-name{
    font-family: 'Oswald';
    font-size: 20px;
    margin-bottom: 0px;
}

.product-subbrand{
    font-family: 'Timmana', sans-serif;
    font-size: 60px;
    top: 50%;
    margin-top: 23px;
    margin-bottom: 40px;
}

p.product-color{
    margin-top: 5px;
    margin-bottom: 30px;
}

.details-container{
    flex-direction: column;
    justify-content: center;
    text-align: center;

}
div.product-purchase{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 30%;
}
p.price{
    font-family: 'Oswald';
}
p.free-shipping{
    font-family: 'Cairo';
}
div.product-container{
    align-items: center !important;
}
.product-image{
    margin-left: 32px;
}