<div class="details-container">
    <div *ngIf="product">
        <!-- <p 
          class="product-subbrand"
          [ngStyle.xs]="
            {
                'font-size': '45px',
                'margin-bottom': '0px'
            }"
        > 
          {{productModel.subBrand}} 
        </p> -->
        <div 
        fxLayout="row"
        fxLayoutGap="32px"
        fxLayoutAlign="flex-start"
        fxLayout.xs="column"
        class="product-container"
        >
            <div
                class="product-description"
                fxFlex="0 1 calc(25% - 32px)"
            >   
                <!-- <p class="product-model" [ngStyle.xs]="{'margin-top': '0px', 'margin-bottom': '30px'}">{{productModel.productModel}}</p> -->
                <p class="product-name">{{product.name}}</p>
                <p class="product-color">{{product.color}}</p>
                <div *ngFor="let link of product.story.links" >
                    <a href="{{link.url}}">{{link.title}}</a>
                    <br>
                </div>
                <p>
                    <b>{{product.story.text}}</b>
                </p>
                <p>
                    {{product.description}}
                </p>
            </div>
            <div 
                class="product-image"
                fxFlex="0 1 calc(50% - 32px)"
            >
            <!-- <img
            [ngStyle.xs]="{ 'height.px': 145 }"
            src="{{product.img}}"
            height="450"
            > -->
            <video width="600" height="400" autoplay loop>
                <source src="../../../assets/products/maximumviableproduct/MATZELIGER.mp4" type="video/mp4">
              Your browser does not support the video tag.
              </video>
            </div>
            <div 
                class="product-purchase"
                fxFlex="0 1 calc(25% - 32px)"
            >
                <p class="price">{{product.price.usd.string}}</p>
                <p class="free-shipping" *ngIf="product.freeShipping">
                    free shipping
                </p>
                <mat-form-field>
                    <mat-label>SELECT A SIZE</mat-label>
                    <mat-select [(value)]="selectedSize">
                        <mat-option *ngFor="let size of product.sizes" [disabled]="size.quantity < 1" value="{{size.size}}">
                        {{size.size}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <button  mat-button (click)=addToBag()> {{ vmBagButtonStr }}</button>
                <button  mat-button *ngIf="isItemInBag" class="checkout" (click)=navigationService.navigateToShoppingBag()> CHECKOUT </button>
                <!-- Wishlist -->
            </div>
        </div>
    </div>
    <div *ngIf="!product">
        <p class="no-product">Please select a product from the shop</p>
        <button [ngStyle.xs]="{'width': '40%'}" mat-button (click)="navigationService.navigateToShop()"> SHOP </button>
    </div>
</div>