:host {
    display: flex;
    justify-content: center;
    margin: 100px 0px;
}

.mat-form-field {
    width: 100%;
    min-width: 100%;
}

form{
    width: 100%;
}

/deep/
label{
    color: black !important; 
    text-align: center;
}
/deep/ .mat-form-field-appearance-legacy .mat-form-field-underline {
    background-color:  #686868 !important;
}
/deep/ .mat-form-field.mat-focused .mat-form-field-ripple {
    background-color: black !important;
}
mat-card-title,
mat-card-content {
    display: flex;
    justify-content: center;
}

mat-card{
    background-color: white;
    color: black;
}

.error {
    padding: 16px;
    width: 300px;
    color: white;
    background-color: red;
}

.button {
    display: flex;
    justify-content: center;
}
.login-register-button{
    margin: 10px
}