.container{
    height: 750px;
    margin: 30px;
    font-family: 'Helvetica', sans-serif;
    text-align: center;
}

.product{
    align-content: center;
}

.category-card{
    height: 50%;
    width: 30%;
    margin: 30px;
    font-size: 40px;
    font-family: 'Anton', sans-serif;
}

p.product-model{
    font-size: 20px;
    padding-bottom: 25px;
}

button.price{
    padding-top: 25px;
}

mat-card.unaccess{
    opacity: .25;
}

.durable-goods{
    font-family: 'Stardos Stencil', cursive;
}
.unsought-goods{
    font-family: 'Timmana', sans-serif;
    font-size: 60px;
    // top: 40% !important;
}
.nondurable-goods{
    font-family: 'Open Sans Condensed', sans-serif;
}
p{
    margin : 0;
}