<div class="container" >
  <div *ngFor="let model of vmProducts">
      <!-- <p class="subbrand" [ngStyle.xs]="{'font-size': '45px'}"> {{model.subBrand}} </p> -->
    <!-- <div>  </div> -->
    <div 
    fxLayout="row wrap"
    fxLayoutGap="32px"
    fxLayoutAlign="flex-start"
    fxLayout.xs="column"
    class="product-row"
    >
      <div
        fxFlex="0 1 calc(33.3% - 32px)"
        class="product "
        (click)="selectProduct(model.subBrand.split(' ').join(''), version.id, model.id)"
        *ngFor="let version of model.versions"
      >
      <!-- <video width="380" height="220" autoplay loop>
        <source src="../../assets/products/maximumviableproduct/MATZELIGER.mp4" type="video/mp4">
      Your browser does not support the video tag.
      </video> -->
        <img
        [ngStyle.xs]="{ 'height.px': 145 }"
        src="{{version.img}}"
        height="250"
        >
        <p class="product-model" [ngStyle.xs]="{'font-size': '24px'}">{{model.productModel}}</p>
        <p class="product-title">"{{version.name}}"</p>
        <p class="price" [ngStyle.xs]="{'font-size': '20px'}">${{version.price.usd.number}}</p>
  </div>
    </div>
  </div>
</div>
