<div class="container" >
  <div *ngFor="let model of productService.getAllProducts()">
      <p class="subbrand" [ngStyle.xs]="{'font-size': '45px'}"> {{model.subBrand}} </p>
    <div> <p class="product-model" [ngStyle.xs]="{'font-size': '24px'}">{{model.productModel}}</p> </div>
    <div 
    fxLayout="row wrap"
    fxLayoutGap="32px"
    fxLayoutAlign="flex-start"
    fxLayout.xs="column"
    class="product-row"
    >
      <mat-card
        fxFlex="0 1 calc(33.3% - 32px)"
        class="product"
        (click)="selectProduct(version.id, model.id, model.subBrand.split(' ').join(''))"
        *ngFor="let version of model.versions"
      >
        <img
        [ngStyle.xs]="{ 'height.px': 145 }"
        src="{{version.img}}"
        height="300"
        >
        <p class="product-title">"{{version.name}}"</p>
        <p class="price" [ngStyle.xs]="{'font-size': '30px'}">${{version.price.usd.number}}</p>
      </mat-card>
    </div>
  </div>
</div>
