.container{
    margin: 23px;
    font-family: 'Helvetica', sans-serif;
    text-align: center;
    margin-top: 5%;
}

div.product {
    cursor: pointer;
    align-content: center;
}

p.product-model{
    padding-top: 0px;
    font-size: 22px;
    margin-top: 20px; 
    margin-bottom: 0px; 
    // padding-bottom: 50px;
    font-family: 'Oswald';
}
div.product-row{
    justify-content: center !important;
}

p.product-title{
    font-size: 18px;
    font-family: 'Oswald';
}
p.price{
    font-size: 30px;
    font-family: 'Anton', sans-serif;
    text-align: center;
}

app-product-details{
    flex-direction: column;
    justify-content: center;
}

.unaccess{
    opacity: .25;
}

.durable-goods{
    font-family: 'Stardos Stencil', cursive;
}
.subbrand{
    font-family: 'Timmana', sans-serif;
    font-size: 60px;
    margin-top: 10px
}
.nondurable-goods{
    font-family: 'Open Sans Condensed', sans-serif;
}
p{
    margin : 0;
}