<div class="container">
  <div class="preorder-info" [ngStyle.xs]="{'margin-top.%': 50}">
    <span class="mvp">MVP</span>
    <br>
    <span>
      MAXIMUM VIABLE PRODUCT <br>
      "MATZELIGER" <br>
      LIMITED EDITION OF 100 <br>
      $395 <br>
      <br>
      PRE-ORDER <br>
      7/7/2019
    </span>
  </div>
  <!-- <div class="product-image-container">
    <img [ngStyle.xs]="{'width.%': 60}" width="40%" src="../../assets/products/maximumviableproduct/matzeliger.png">
  </div> -->
  <p class="jelani-logo">
    Jelani
  </p>
</div>