.jelani-logo{
    font-size: 34px;
    text-align: center;
    color: white;
    font-family: "brush-script-std", sans-serif;
}
.preorder-info{
    font-size: 17px;
    color: white;
    font-family:  "Bebas Neue";
}
.product-image-container{
    text-align: center;
}
.container{
    margin: 2.5%;
}